
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    
    <div class="footer-spacer"></div>
    <header>
        <div class="header-container">
            <div class="logo">
                <span class="logo-text">Устройства для BMW</span>
                <div class="logo-small">
                    <img src="http://localhost:9000/lab1/img/icon-logo.f2ce70f.svg" class="logo-small-image">
                </div>
            </div>
            
            <div class="header-actions">
                
            </div>
        </div>
    </header>
    
    <div class="container">
        <p class="page-title" style="margin-top: 5px;">МУЗЫКА И ЭЛЕКТРОНИКА</p>
        
        <div class="info-banner">
            <p style="margin-bottom: -20px;">ВЫБЕРИТЕ УСТРОЙСТВО</p>
            <img src="http://localhost:9000/lab1/img/logo-big.jpg" alt="BMW Logo">
            <form action="/" method="GET" class="search-container" style="position: absolute; bottom: 30px; left: 20px; margin-left: 400px; width: 600px;">
    <input type="text" name="query" placeholder="Поиск по названию..." class="search-field" value="{{ .query }}">
    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
</form>
           <!-- <div class="simple-filters">
                <select>
                    <option>Категория </option>
                    <option>Адаптеры</option>
                    <option>Отопители</option>
                </select>
                
                <select>
                    <option>Сопротивление </option>
                    <option>Низкое</option>
                    <option>Среднее</option>
                </select>
            </div>
            -->
          <!--  <button class="close-button">
                <i class="fas fa-times"></i>
            </button>
            -->
        </div>
        <div class="products-wrapper">
            <div class="products">
                {{ range $id, $device := .devices }}
                <div class="product">
                    <div class="product-image">

                        <img src="http://localhost:9000/lab1/img/{{ $device.ID }}.jpg" alt="{{ $device.Title }}">
                    </div>
                    <div class="product-content">
                        <div class="product-title">{{ $device.Title }}</div>
                        <div class="product-description">Мощность: {{ $device.Power }}</div>
                        <a href="/device/{{ $device.ID }}" class="add-to-cart" style="margin-top: 15px;">Подробнее</a>    
                    <!--<a href="/device/{{ $device.ID }}" class="more">Подробнее</a>-->   
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="wrench-after-fourth">
                <a href="/current" class="cart-link">
                    <button>
                        <i class="fas fa-wrench fa-4x" style="color: black;"></i>
                        <span class="cart-count">{{.cartCount}}</span>
                    </button>
                </a>
            </div>
        </div>    
    </div>
</body>
</html>
